<!-- vi: set ts=2 sts=2 sw=2 et: -->
<div class="blog-wrapper">
  <div class="blog-content">
    <div class="wrap"><div class="blog">
      <div class="blog-updates">
       <form method="post" action="/subscribe.php" class="form">
        <input type="email" name="email" placeholder="Your email address"/>
        <input type="submit" name="email-button" value="Subscribe"/>
       </form>
       <a class="nounderline" href="/blog/rss.xml">
        <img class="rss" src="/_icons/rss.svg" alt="RSS feed icon"/>
       </a>
      </div>
      <!--
      <div class="blog-categories">
       <a href="/blog/categories/" class="nounderline">
        <div class="blog-category">
         <h2 style="color: #50fa7b">Posts by category</h2>
        </div>
       </a>
      </div>
      -->
      ${CONTENT}
    </div></div>
  </div>
</div>
