<!-- vi: set ts=2 sts=2 sw=2 et: -->
<div class="blog-wrapper">
  <div class="blog-content">
    <div class="wrap"><div class="blog">
      <div class="blog-updates">
       <form method="post" action="/cgi-bin/subscribe.py" class="form">
        <input type="email" name="email" placeholder="Your email"/>
        <input type="text"  name="antispam" placeholder="1+1="/>
        <input type="submit" value="Subscribe"/>
       </form>
       <a class="nounderline" href="/blog/rss.xml">
        <img class="rss" src="/_icons/rss.svg" alt="RSS feed icon"/>
       </a>
      </div>
      ${CONTENT}
      <div class="blog-updates">
       <form method="post" action="/cgi-bin/subscribe.py" class="form">
        <input type="email" name="email" placeholder="Your email"/>
        <input type="text"  name="antispam" placeholder="1+1="/>
        <input type="submit" value="Subscribe"/>
       </form>
       <a class="nounderline" href="/blog/rss.xml">
        <img class="rss" src="/_icons/rss.svg" alt="RSS feed icon"/>
       </a>
      </div>
    </div></div>
  </div>
</div>
